:root{
    --prenav_background_color: #24CE89;
    --nav_background_color: #442DAE;
    --primary_color_text: #FFFFFF;
    --secundary_color_text: #6B6868;
    --terceary_color_text: #5E5ADA;
    --color_paraph: #4E4E4F;
    --color_background_img:#3D42E0; /*Color que tiene la imagen por encima para darle el efecto azulado*/
    --color_background_sections: #F6F6F6;
    --color_button: #2D58D0;
    --color_background_footer:  #000000;
    --color_menu_text_footer: #CACACA;
    --primary_font: EastmanTrial;
    --secundary_font: Ebrima;
}
/*Importación de fuentes locales*/
@font-face{
    font-family: 'EastmanTrial';
    src:url(fonts/EastmanTrial-Bold.otf);
}

@font-face{
    font-family: 'Ebrima';
    src:url(fonts/ebrima.ttf);
}

body{
    font-family: var(--primary_font);
    overflow-x: hidden;
}

.prenav{
    height: 5vh;
    background-color:var(--prenav_background_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas, .far{
    color: var(--primary_color_text);
}

.prenav__item{
    margin-left: 4em;
    font-family: var(--secundary_font);
    font-size: 2.2vmin;
    color:var(--primary_color_text);
    font-weight: 500;
}

.navcontainer{
    background-color: var(--nav_background_color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__item{
    margin-left: 4em;
    text-decoration: none;
    color: var(--primary_color_text);
    font-size: 1.8vmin;
}

.navcontainer__item{
    width: 15vmin;
}

.headercontainer{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
}

.headercontainer__item{
    width: 100vmax;
}

.headercontainer::before{
    content: '';
    position: absolute;
    background-color: var(--color_background_img);
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.headersubcontainer{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 70vmax;
    margin: 10em;
}

.headersubcontainer__item--logo{
    width: 40vmax;
}

.headersubcontainer__item--title{
    color: var(--primary_color_text);
    font-size: 8vmin;
    margin-left: 1em;
}

.headersubcontainer__item--btn{
    /*Display: inline-block al elemento a, es porque sino se queda como un elemento en linea sin propiedades de bloque*/
    display: inline-block;
    position: absolute;
    border: 0.2em solid var(--primary_color_text);
    text-decoration: none;
    color: var(--primary_color_text);
    font-size: 4vmin;
    padding: 0.5em 0.8em;
    text-align: center;
    margin-top: 15em;
}

.headersubcontainer__item--btn:hover{
    background-color: rgba(61, 66, 224, 0.40);
}

.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.indicatorscontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35vh;
    width: 100vw;
    background-color: var(--color_background_sections);
}

.indicatorscontainer__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vmin;
    height: 25vmin;
    border-radius: 100%;
    border: 7px solid var(--color_background_sections);
    /*Sombras internas y externas,
    para declarar las internas se debe usar el valor inset
    más el resto de valores y para las externas se agrega una ,
    y el resto de los valores*/
    box-shadow: inset 5px 3px 6px rgba(0, 0, 0, 0.21), 
    7px 3px 6px rgba(0, 0, 0, 0.16);
}

.indicatorscontainer__item--text{
    display: block;
    font-family: Ebrima;
    font-weight: bold;
    font-size: 4.2vmin;
    text-align: center;
    color: var(--secundary_color_text);
    line-height: 1.5;
}

.informationcontainer{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary_color_text);
    width: 100vw;
    height: 60vh;
}

.informationdiv{
    width: 37vw;
    display: flex;
    flex-direction: column;
}

.informationcontainer__item{
    text-align: left;
    margin: 1em;
}

.informationdiv__item--title{
    font-size: 1.7em;
    text-transform: uppercase;
    color: var(--terceary_color_text);
    flex-shrink: 0;
}

.informationdiv__item--paraph{
    font-family: var(--secundary_font);
    color:var(--color_paraph);
    font-size: 1em;
    flex-shrink: 0;
    margin-left: 1.3em;
}

.informationdivsub__item--img{
    width: 30vw;
}

.techcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
    background-color: var(--color_background_sections);
}

.techcontainer__item--title{
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--color_paraph);
    margin-bottom: 1.5em;
}

.techcontainer__item{
    width: 45vw;
}

.sub{
    margin-top: 1em;
}

.techlogos__item{
    margin-left: 4.5em;
    width: 5vw;
}

.helpcontainer{
    display: flex;
    width: 90vmax;
    height: 45vh;
    justify-content: space-around;
}

.contactcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33vw;
    margin: 3em;
}

.contactcontainer__item{
    font-size: 1.3em;
    color:var(--terceary_color_text);
    text-transform: uppercase;
}

.contactcontainer__item--paraph{
    font-family: var(--secundary_font);
    font-size: 1.25em;
}

.contactcontainer__item--btn{
    text-decoration: none;
    color: var(--primary_color_text);
    text-transform: uppercase;
    background-color: var(--color_button);
    text-align: center;
    padding: 0.8em 1.3em;
    width: 10em;
    display: inline-block;
    margin-top: 1em;
}

.contactcontainer__item--btn:hover{
    background-color: rgba(61, 66, 224, 1);
}

.imgcontainer{
    width: 18vw;
    margin-top: 3em;
}

.footercontainer{
    display: flex;
    background-color: var(--color_background_footer);
    width: 100vw;
    height: 30vmin;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 23vmax;
    height: 5vmax;
}

.logo__item{
    width: 23vw;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    width: 5vmax;
    height: 10vmax;
}

.socialmedia__item--title{
    color: var(--secundary_color_text);
    font-size: 1em;
    text-align: center;
    margin-bottom: 2em;
}

.menu__nav{
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.menu__nav--item{
    text-decoration: none;
    color: var(--secundary_color_text);
    font-size: 2vmin;
}

.menu__nav--item:hover{
    color: var(--primary_color_text);
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs__item{
    margin-left: 1em;
    border: 3px solid var(--primary_color_text);
    border-radius: 100%;
    width: 7vmin;
    height: 7vmin;
}

.socialmedia{
    width: 20vmax;
}

.imgs__item--icon{
    width: 3.2vmin;
}

.fb{
    width: 1.9vmin;
}

.imgs__item--icon:hover{
    width: 3.5vmin;
}

.fb:hover{
    width: 2vmin;
}

.footer_container__item-var{
    border-left: 2px solid var(--secundary_color_text);
    height: 8vmax;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 9vmax;
}

.var{
    left: 6vmax;
}

@media screen and (max-width:610px){
    .headersubcontainer__item--btn{
        font-size: 6vmin;
        margin-top: 18em;
    }

    .headersubcontainer__item--logo{
        display: none;
    }

    
    .headersubcontainer__item--title{
    font-size: 10vmin;
    margin-top: -1em;
    }

    .headersubcontainer{
    width: 10vmax;
    }

    .indicatorscontainer{
    flex-direction: column;
    height: 100vmin;
    width: 100vw;
    }

    .informationcontainer{
        flex-direction: column;
        height: 100vmin;
        width: 100vmin;
    }

    .informationdiv{
        width: 90vmin;
        height: 100vmin;
    }

    .informationdiv__item--title{
        font-size: 1.5em;
    }

    .informationsubdiv{
        display: none;
    }
}